In [1]:
%ls

Python復習.ipynb    Untitled.ipynb      house.csv           wine_class.csv

## データの読み込み
  
- pandas: データの操作
- numpy: 数値計算
- matplotlib: データの可視化

In [3]:
import pandas as pd

In [8]:
# csvファイルの読み込み
# pd.read_csv('house.csv').head(3)

# df: data frame
df = pd.read_csv('house.csv')

df.head(3)

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,y
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [10]:
# df.iloc[行, 列]
df.iloc[1,3]

7.07

In [12]:
df.iloc[0, 14]

24.0

In [15]:
df.iloc[0, -1]

24.0

In [16]:
df.iloc[:, -1]

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
5      28.7
6      22.9
7      27.1
8      16.5
9      18.9
10     15.0
11     18.9
12     21.7
13     20.4
14     18.2
15     19.9
16     23.1
17     17.5
18     20.2
19     18.2
20     13.6
21     19.6
22     15.2
23     14.5
24     15.6
25     13.9
26     16.6
27     14.8
28     18.4
29     21.0
       ...
476    16.7
477    12.0
478    14.6
479    21.4
480    23.0
481    23.7
482    25.0
483    21.8
484    20.6
485    21.2
486    19.1
487    20.6
488    15.2
489     7.0
490     8.1
491    13.6
492    20.1
493    21.8
494    24.5
495    23.1
496    19.7
497    18.3
498    21.2
499    17.5
500    16.8
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: y, Length: 506, dtype: float64

In [17]:
t = df.iloc[:, -1]

In [30]:
X = df.iloc[:, :-1]

In [31]:
X.head(3)

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03

In [36]:
df.iloc[:,df.columns.values != 'y'].head(3)

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03

In [35]:
list(df.columns.values)

['x0',
 'x1',
 'x2',
 'x3',
 'x4',
 'x5',
 'x6',
 'x7',
 'x8',
 'x9',
 'x10',
 'x11',
 'x12',
 'x13',
 'y']

## モデル構築(学習)
- 機械学習アルゴリズムの選択  
- 学習  
- 検証  
     
     
- Auto ML (Automated ML)

In [37]:
df.columns.values

array(['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10',
       'x11', 'x12', 'x13', 'y'], dtype=object)

In [39]:
# 機械学習アルゴリズムの選択

# import sklearn.linear_model
# sklearn.linear_model.LinearRegression()

In [41]:
from sklearn.linear_model import LinearRegression

In [43]:
# インスタンス化
model = LinearRegression()

In [44]:
# 学習
model.fit(X,t)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [45]:
# 検証
model.score(X, t)

0.7406426641094094

In [50]:
from sklearn.tree import DecisionTreeRegressor

In [51]:
model = DecisionTreeRegressor()
model.fit(X, t)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [52]:
model.score(X,t)

1.0

In [53]:
# 訓練用と検証用を分割
from sklearn.model_selection import train_test_split

In [61]:
x_train, x_test, t_train, t_test = train_test_split(X, t, test_size=0.33, random_state=0)

In [62]:
model.fit(x_train, t_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [63]:
model.score(x_test, t_test)

0.6504503892116331

In [65]:
# 訓練データで検証
model.score(x_train, t_train)

1.0

In [67]:
# 推論（予測値の計算）
model.predict(x_train)

array([23.9, 25. , 12.7, 29.1, 12. , 17.7, 27. , 20.6, 10.2, 17.5, 19.7,
       29.8, 20.5, 14.9, 10.9, 19.5, 22.7, 19.5, 24.6, 25. , 24.5, 50. ,
       14.3, 11.8, 31. , 28.7, 16.2, 43.5, 25. , 22. , 19.9, 22.1, 46. ,
       22.9, 20.2, 43.1, 34.6, 13.8, 24.3, 21.5, 24.4, 21.2, 23.8, 26.6,
       25.1,  9.6, 19.4, 19.4,  9.5, 14. , 26.5, 13.8, 34.7, 16.3, 21.7,
       17.5, 15.6, 20.9, 21.7, 12.7, 18.5, 23.7, 19.3, 12.7, 21.6, 23.2,
       29.6, 21.2, 23.8, 17.1, 22. , 36.5, 18.8, 21.9, 23.1, 20.2, 17.4,
       37. , 24.1, 36.2, 15.7, 32.2, 13.5, 17.9, 13.3, 11.7, 41.7, 18.4,
       13.1, 25. , 21.2, 16. , 34.9, 25.2, 24.8, 21.5, 23.4, 18.9, 10.8,
       21. , 27.5, 17.5, 13.5, 28.7, 14.8, 19.1, 28.6, 13.1, 19. , 11.3,
       13.3, 22.4, 20.1, 18.2, 22.9, 20.6, 25. , 12.8, 34.9, 23.7, 50. ,
       29. , 30.1, 22. , 15.6, 23.3, 30.1, 14.3, 22.8, 50. , 20.8,  6.3,
       34.9, 32.4, 19.9, 20.3, 17.8, 23.1, 20.4, 23.2,  7. , 16.8, 46.7,
       50. , 22.9, 23.9, 21.4, 21.7, 15.4, 15.3, 23.1, 23.9, 19.4, 11.9,
       17.8, 31.5, 33.8, 20.8, 19.8, 22.4,  5. , 24.5, 19.4, 15.1, 18.2,
       19.3, 27.1, 20.7, 37.6, 11.7, 33.4, 30.1, 21.4, 45.4, 20.1, 20.8,
       26.4, 10.4, 21.8, 32. , 21.7, 18.4, 37.9, 17.8, 28. , 28.2, 36. ,
       18.9, 15. , 22.5, 30.7, 20. , 19.1, 23.3, 26.6, 21.1, 19.7, 20. ,
       12.1,  7.2, 14.2, 17.3, 27.5, 22.2, 10.9, 19.2, 32. , 14.5, 24.7,
       12.6, 24. , 24.1, 50. , 16.1, 43.8, 26.6, 36.1, 21.8, 29.9, 50. ,
       44. , 20.6, 19.6, 28.4, 19.1, 22.3, 20.9, 28.4, 14.4, 32.7, 13.8,
        8.5, 22.5, 35.1, 31.6, 17.8, 15.6, 20.7, 39.8, 17.8, 19.6, 14.9,
       22. , 48.8, 25. , 48.5, 23.9, 20.3, 15.2, 10.5, 19. , 16.4,  8.8,
       22. , 24.8, 50. , 19.3, 22.7, 37.3, 31.6,  8.3, 23.1, 50. , 13.9,
       16.1, 25.3, 19.5, 10.2, 19.9, 35.2, 13.4, 24.7, 11.5, 23.4, 16.7,
       15.4, 18. , 28.5, 18.4, 32.5, 50. , 50. , 19.6, 17.6, 42.3, 14.5,
       13.2, 16.2, 29.6, 16.7, 13. , 22.3, 13.4,  5. , 19.5, 14.6, 22. ,
        8.1, 24.6, 33.2, 20.6, 14.1, 14.1, 21.1, 30.3, 23.7, 21.4, 18.3,
        8.5, 22.8, 22.8, 22.2, 13.9, 25. , 18.5,  7. , 22.6, 20.1, 30.8,
       31.1, 23.8, 12.5, 23.6, 23.2, 24.2, 22.2, 27.9, 22.2, 33.1, 19.3,
       18.9, 22.6, 50. , 24.8, 18.5, 36.4, 19.2, 16.6, 23.1])

In [68]:
model.predict(x_test)

array([23.1, 24.5, 20.6, 19.1, 20.8, 19.5, 21.2, 19. , 21.8, 16.1, 10.5,
       17.9, 15.1,  6.3, 50. , 34.9, 21.2, 32.7, 28. , 18.2, 23.1, 22.3,
       20.1, 24.7, 21.7, 10.9, 19.3, 13.1, 39.8, 18. , 11.7, 19.1, 24.5,
       19.7, 23.2, 17.7,  7. , 19.5, 11.7, 17.9, 22.9, 21.7, 23.9, 11.7,
       22. , 20.5, 16.6, 13.8, 15.6, 29. , 13.8, 17.8, 19.3, 21.9, 18.4,
       22.5, 19.7, 20.7, 10.9, 19.5, 20.6, 23.1, 34.9, 30.1, 19.1, 32. ,
       16.1, 18.9, 16.3, 23.1, 20.6, 23.8, 23.2, 33.1, 28.4,  8.8, 41.7,
       23.1, 22. , 21.7, 26.5, 19.3, 20.2, 37.6, 48.8, 25. , 19.3, 13.8,
       24.3, 12.7, 20.1, 11.8, 23.3, 37. , 22.2, 23.8, 10.2, 20.7, 12.7,
       19.7, 25. , 20.1, 30.3, 24.5, 25. , 21.7,  8.3, 19.5, 23.8, 21.6,
       23.6, 17.9, 18.9, 18.3, 18.9, 20. ,  9.5, 14.5, 10.2, 50. , 32. ,
        6.3, 14.4, 21.7, 25. , 17.3, 34.9, 14.4, 18.9, 36.1, 12.5,  9.5,
        7. , 19.6, 10.5, 34.9, 22.2, 15.6, 28.4,  7. , 10.2, 21.7, 23.6,
       24.4, 24.2, 14.5, 37.9, 37.9, 12.8,  8.8, 28.6, 25.2, 15.6, 32.5,
       17.3, 23.7, 17.4, 19.9, 19.7, 13.1,  7. , 17.5, 34.9, 31.6, 36.5,
       21.7, 22.1])

In [69]:
from sklearn.externals import joblib

In [70]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [71]:
!ls

Python復習.ipynb      model.pkl             モデル構築.ipynb
house.csv             wine_class.csv

In [73]:
!ls -lp

total 264
-rw-r--r--  1 cha1ra  staff  12104  1 30 20:43 Python復習.ipynb
-rw-r--r--@ 1 cha1ra  staff  36199  1 30 20:34 house.csv
-rw-r--r--  1 cha1ra  staff  41520  1 30 21:56 model.pkl
-rw-r--r--@ 1 cha1ra  staff   8820  1 30 20:34 wine_class.csv
-rw-r--r--  1 cha1ra  staff  25385  1 30 21:56 モデル構築.ipynb